<div class="article-block" style="background-color: rgb(27,27,35); padding-top: 100px; padding-bottom: 100px;">

    <!-- Подбор соперника по вашим критериям -->
    <div class="container">
        <div class="row">

            <div class="col-6 centered">
                <div>
                    <h2>Подбор соперника по вашим критериям</h2>
                    <small style="font-size: 14px;">
                            Игра по Вашим правилам. Делайте любую ставку, выбирайте рейтинг соперника, регион поиска и добавляйте в противостояние свою команду. Другие игроки и команды будут сами предлагать сыграть. Вам остается только принять или отклонить приглашение.
                    </small>
                    <div style="display: flex; align-items: center; justify-content: flex-start;">
                        <div style="display: flex; align-items: center; justify-content: center; flex-direction: column; min-height: 180px;">
                            <button>Скачать клиент для Windows</button>
                            <p style="padding-top: 10px;font-size:medium; font-weight: lighter; color: gray;">Exe, 26.4 мБайт</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-6 centered">
                <img src="../assets/img/screenshot2.png" width="670px" height="528px">
            </div>

        </div>
    </div>


</div>