<div class="footer-block" style="padding-top: 100px;">

    <!-- Вывод средств -->
    <div class="container">
        <div class="row">
            <div class="col-8 centered">
                <img src="../assets/img/cash.png" height="485px" width="650px">
            </div>
            <div class="col-4">
                <h2>Быстрый ввод и вывод денег</h2>
                <small style="font-size: 14px;">
                    Работаем со всеми видами банковских карт, платежных систем и с любыми регионами. Вы можете как и внести деньги на счет для дальнешей ставки, так и почти мгновенно вывести их на любым, удобным Вам способом
                </small>
                <img src="../assets/img/payment.png" height="200px" width="300px" style="padding-top: 40px;">
            </div>
        </div>
        <div class="row" style="padding-top: 100px;">
            <div class="col-12 centered">
                <img width="168px" height="64px" src="../assets/img/logo.png">
            </div>
            <div class="col-12">
                <div style="display: flex; align-items: center; justify-content: center; flex-direction: column; min-height: 180px;">
                    <button>Скачать клиент для Windows</button>
                    <p style="padding-top: 10px;font-size:medium; font-weight: lighter; color: gray;">Exe, 26.4 мБайт</p>
                </div>
            </div>
        </div>
    </div>


</div>