<div class="header-block" style="min-height: 1415px;">
    
    <!-- Заголовок -->
    <div class="container" style="padding-top: 25px; padding-left: 5px; padding-right: 5px; padding-bottom: 10px;">
        <div class="row" style="min-width: 168px;">
            <div class="col-2">
                <div class="centered">
                    <img width="168px" height="64px" src="../assets/img/logo.png">
                </div>
            </div>
            <div class="col-8"></div>
            <div class="col-2">
                <div class="centered" style="min-height: 50px;">
                    <div class="select" style="min-width: 70px;">Ru</div>
                </div>
            </div>
        </div>
    </div>    

    <!-- Кнопка скачать -->
    <div class="container" style="padding-top: 80px; font-weight: bolder; text-align: center;">
        <div class="row">
            <div class="col-12">
                <div style="display: flex; align-items: center; flex-direction: column;">
                    <h1>CyberCup -  платформа для заработка</h1>
                    <h1>на Ваших скиллах в компьютерных играх</h1>
                    <p style="font-size:large; font-weight: normal;">Играй. Делай ставки. Зарабатывай.</p>
                </div>
                <div style="display: flex; align-items: center; justify-content: center; flex-direction: column; min-height: 180px;">
                    <button>Скачать клиент для Windows</button>
                    <p style="padding-top: 10px;font-size:medium; font-weight: lighter; color: gray;">Exe, 26.4 мБайт</p>
                </div>
            </div>
        </div>
    </div>    


    <!-- Скриншот игры -->
    <style>
        .row-container{
            background-color: rgb(33,33,43); flex: 1; min-height: 230px;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;
            padding: 10px;
        }
    </style>

    <div style="margin-top: 20px; display: flex; align-items: center; justify-content: center;">
        <div class="row-container">
            <div class="centered" style="flex-direction: column;">
                <h2>100 000+</h2>
                <p style="font-size: 12px;">Сыгранных матчей</p>
            </div>
        </div>
        <img height="475px" src="./assets/img/screenshot1.jpg">
        <div class="row-container" style="align-items: flex-start;">
            <div class="centered" style="flex-direction: column;">
                <h2>86 342</h2>
                <p style="font-size: 10px;">Игроков онлайн</p>
            </div>
        </div>
    </div>    

    <!-- Пиктограммы игр -->

    <style>
        .game-item{
            min-height: 125px;
            min-width: 160px;
            max-height: 125px;
            max-width: 160px;
            background-color: rgb(33,33,43);
            border-radius: 7px;
        }

        .game-row{
            display: flex; 
            flex-direction: row; 
            justify-content: space-around;
        }
    </style>

    <div class="container"  style="margin-top: 80px;">
        <div class="row">
            <div class="col-12">
                <div class="game-row">
                    <div class="centered game-item">
                        <img height="67px" width="125px" src="./assets/img/cs.png">
                    </div>
                    <div class="centered game-item">
                        <img height="40px" width="114px" src="./assets/img/dota2.png">
                    </div>
                    <div class="centered game-item">
                        <img height="50px" width="137px" src="./assets/img/fifa.png">
                    </div>
                    <div class="centered game-item">
                        <img height="55px" width="144px" src="./assets/img/lol.png">
                    </div>
                    <div class="centered game-item">
                        <img height="96px" width="136px" src="./assets/img/mortal.png">
                    </div>
                    <div class="centered game-item">
                        <img height="59px" width="138px" src="./assets/img/wr.png">
                    </div>
                </div>
            </div>
            <div class="col-12" style="padding-top: 10px;">
                    <div class="game-row">
                        <div class="centered game-item">
                            <img height="31px" width="135px" src="./assets/img/wot.png">
                        </div>
                        <div class="centered game-item">
                            <img height="53px" width="120px" src="./assets/img/ufc.png">
                        </div>
                        <div class="centered game-item">
                            <img height="65px" width="139px" src="./assets/img/star.png">
                        </div>
                        <div class="centered game-item">
                            <img height="46px" width="140px" src="./assets/img/qc.png">
                        </div>
                        <div class="centered game-item">
                            <img height="68px" width="142px" src="./assets/img/over.png">
                        </div>
                        <div class="centered game-item">
                            <img height="40px" width="139px" src="./assets/img/nfs.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
