<div class="main-block" style="background-color: rgb(33,33,43);">
    
    <!-- Противостояния на любой вкус -->
    <div class="container">
        <div class="row"  style="padding-top: 80px; padding-bottom: 50px;">
            <div class="col-12">
                <div class="centered">
                    <h1>CyberCup - противостояния на любой вкус</h1>
                </div>
            </div>
        </div>
        
        <div class="row" style="min-width: 250px; padding-bottom: 100px;">
            <div class="col-4">
                <div class="centered">
                    <div class="centered" style="flex: 2;">
                        <img src="./assets/img/fist.png" height="110px" width="110px">
                    </div>
                    <div style="flex: 3;">
                        <h2>Игра 1 на 1</h2>
                        <small style="color:gray;">
                                Мы подберем соперника для по нужным параметрам, и это даст заработать именно за счет Вашего скилла
                        </small>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="centered">
                    <div class="centered" style="flex: 2;">
                        <img src="./assets/img/people.png" height="110px" width="110px">
                    </div>
                    <div style="flex: 3;">
                        <h2>Команда на команду</h2>
                        <small style="color:gray;">
                            Соберите команду до 5 человек и покажите всем свой командный дух и сплоченность
                        </small>
                    </div>
                </div>
            </div>


            <div class="col-4">
                <div class="centered">
                    <div class="centered" style="flex: 2;">
                        <img src="./assets/img/tournament.png" height="110px" width="110px">
                    </div>
                    <div style="flex: 3;">
                        <h2>Команда на команду</h2>
                        <small style="color:gray;">
                            Мы проводим специализированные турниры для команд и индивидуальных игроков
                        </small>
                    </div>
                </div>
            </div>
        </div>   
    </div>
    
</div>