:root {
    --arrow-down-white: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDEyOSAxMjkiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDEyOSAxMjkiIHdpZHRoPSI1MTJweCIgaGVpZ2h0PSI1MTJweCI+ICA8Zz4gICAgPHBhdGggZD0ibTEyMS4zLDM0LjZjLTEuNi0xLjYtNC4yLTEuNi01LjgsMGwtNTEsNTEuMS01MS4xLTUxLjFjLTEuNi0xLjYtNC4yLTEuNi01LjgsMC0xLjYsMS42LTEuNiw0LjIgMCw1LjhsNTMuOSw1My45YzAuOCwwLjggMS44LDEuMiAyLjksMS4yIDEsMCAyLjEtMC40IDIuOS0xLjJsNTMuOS01My45YzEuNy0xLjYgMS43LTQuMiAwLjEtNS44eiIgZmlsbD0iI2NjY2NjYyIvPiAgPC9nPjwvc3ZnPg==);
}


html, body{
    background-color: rgb(27,27,35);
    color: white;
    min-width: 1325px;
}

.centered{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-block, .footer-block {
    background: url("../img/background.png") repeat-x center center fixed;
    background-size: contain;
}

.select {
    background-color: rgb(56, 55, 71);
    border: 0.5px solid rgba(255, 255, 255, 0.3);
    background-position: right 10px center;
    background-size: 15px 15px;
    border-radius: 7px;
    background-repeat: no-repeat;
    background-image: var(--arrow-down-white);
    background-origin: padding-box;
    padding: 10px;
    padding-right: 20px;
}

button {
    min-height: 60px;
    min-width: 250px;
    background: rgb(254,145,0);
    background: linear-gradient(140deg, rgba(254,145,0,1) 0%, rgba(235,176,4,1) 100%);
    border: 0px solid transparent;
    border-radius: 35px;
    padding: 25px;
    font-size: 14pt;
    color: black;
}